$snow: #F9F9F9;
$blue: #3454D1;
$green: #34d1bf;
$platinum: #e8e8e8;
$darkColor: rgb(77, 77, 77);
$red: #ff4040;
$font: 'Roboto', sans-serif;
$fontColorDark: rgb(77, 77, 77);
$fontColorLight: #e8e8e8;
$shadow:  6px 6px 6px -6px $darkColor;
$darkBackgroundColor: rgb(36, 36, 44);



.LogInForm{
    border: $darkColor solid 1px;
    border-radius: 5px;
    box-shadow: $shadow;
    width: 40vw;
    height: 40vh;
    background: $snow;
    display: flex;
    justify-content: center;
    align-items: center;

        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
                button{
                    background: $blue;
                    color: $platinum;
                    font-family: $font;
                    border: none;
                    padding: .5em 2em;
                    box-shadow: $shadow;
                }
                span{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h4{
                        color:rgb(77, 77, 77);
                        font-family: $font;
                    }
                    input{
                        height: 2vh;
                        margin-left: 1em;
                        border: none;
                        background: $snow;
                        border-bottom: rgb(77, 77, 77) solid 1px;
                        text-align: center;
                        
                    }
                    input:focus{
                        outline: 0;
                        text-align: center;
                    }
                }    
        }
}
.RegisterForm{
    border: $darkColor solid 1px;
    border-radius: 5px;
    box-shadow: $shadow;
    width: 60vw;
    height: 95vh;
    background: $snow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .iconDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            color: #34d1bf;
        }
    }
    h1{
        color:rgb(77, 77, 77);
        font-family: $font;  
    }

        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
                button{
                    margin-top: 1em;                    
                    background: $blue;
                    color: $platinum;
                    font-family: $font;
                    border: none;
                    padding: .5em 2em;
                    box-shadow: $shadow;
                }
                i{
                    color: #3454D1;
                }
                h2{
                    font-family: $font;
                    color: $darkColor;
                    margin-right: 30vw;
                }
                span{
                    width: 45%;
                    height: 5vh;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h4{
                        color:rgb(77, 77, 77);
                        font-family: $font;
                    }

                    input{
                        height: 2vh;
                        margin-left: 1em;
                        border: none;
                        background: $snow;
                        border-bottom: rgb(77, 77, 77) solid 1px;
                        text-align: center;
                        
                    }
                    input:focus{
                        outline: 0;
                        text-align: center;
                    }
                }    
        }
}
.dashboard{

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(36, 36, 44);
        height: 10vh;
        width: 100%;
        color: $fontColorLight;
        .logo{
            margin-left: 2vw;
        }
        .settings{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 2vw;
            h4{
                margin-left: 2vw; 
            }
        }
    }
    main{
        display: flex;
        justify-content: flex-start;
        .routedisplay{
            width: 85vw;
            height: 90vh;
            background: $platinum;
        }
        nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            height: 90vh;
            width: 15vw;
            background: $darkBackgroundColor;
            color: $fontColorLight;

            .bottombuttons{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 10vh;
                button{
                    background: $blue;
                    color: $platinum;
                    font-family: $font;
                    border: none;
                    padding: .5em 1.5em;
        
                    margin-right: 2vw;
                }

            }
            ul{
                width: 100%;
                margin: 5vh 1vw;
                li, Link{
                    font-family: $font;
                    color: $fontColorLight;
                    text-decoration: none;
                    width: 84%;
                    margin: 2vh 0 2vh 1vw;
                    padding: 1em 1em ;
                    transition: all .5s ease-in-out;
                    cursor: pointer;
                    
                }
                Link:visited{
                    text-decoration: none;
                }
                .selected{
                    background: $green;
                    color: $darkBackgroundColor;
                    font-weight: bold;
                    transition: all .5s ease-in-out;
                }
            }
            
        }
        
    }

}