.LogInForm {
  border: #4d4d4d solid 1px;
  border-radius: 5px;
  -webkit-box-shadow: 6px 6px 6px -6px #4d4d4d;
          box-shadow: 6px 6px 6px -6px #4d4d4d;
  width: 40vw;
  height: 40vh;
  background: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.LogInForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.LogInForm form button {
  background: #3454D1;
  color: #e8e8e8;
  font-family: "Roboto", sans-serif;
  border: none;
  padding: .5em 2em;
  -webkit-box-shadow: 6px 6px 6px -6px #4d4d4d;
          box-shadow: 6px 6px 6px -6px #4d4d4d;
}

.LogInForm form span {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.LogInForm form span h4 {
  color: #4d4d4d;
  font-family: "Roboto", sans-serif;
}

.LogInForm form span input {
  height: 2vh;
  margin-left: 1em;
  border: none;
  background: #F9F9F9;
  border-bottom: #4d4d4d solid 1px;
  text-align: center;
}

.LogInForm form span input:focus {
  outline: 0;
  text-align: center;
}

.RegisterForm {
  border: #4d4d4d solid 1px;
  border-radius: 5px;
  -webkit-box-shadow: 6px 6px 6px -6px #4d4d4d;
          box-shadow: 6px 6px 6px -6px #4d4d4d;
  width: 60vw;
  height: 95vh;
  background: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.RegisterForm select {
  margin-bottom: 3vh;
}

.RegisterForm .logoUploaded img {
  max-width: 10vw;
  max-height: 10vh;
}

.RegisterForm .iconDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.RegisterForm h1 {
  color: #4d4d4d;
  font-family: "Roboto", sans-serif;
  font-size: 2.2em;
  margin: 5vh;
}

.RegisterForm form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RegisterForm form button {
  margin-top: 1em;
  background: #3454D1;
  color: #e8e8e8;
  font-family: "Roboto", sans-serif;
  border: none;
  padding: .5em 2em;
  -webkit-box-shadow: 6px 6px 6px -6px #4d4d4d;
          box-shadow: 6px 6px 6px -6px #4d4d4d;
}

.RegisterForm form i {
  color: #3454D1;
}

.RegisterForm form h2 {
  font-family: "Roboto", sans-serif;
  color: #4d4d4d;
  margin-right: 30vw;
}

.RegisterForm form span {
  width: 45%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.RegisterForm form span h4 {
  color: #4d4d4d;
  font-family: "Roboto", sans-serif;
}

.RegisterForm form span input {
  height: 2vh;
  margin-left: 1em;
  border: none;
  background: #F9F9F9;
  border-bottom: #4d4d4d solid 1px;
  text-align: center;
}

.RegisterForm form span input:focus {
  outline: 0;
  text-align: center;
}

.dashboard header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #24242c;
  height: 10vh;
  width: 100%;
  color: #e8e8e8;
}

.dashboard header .title h1 {
  text-transform: capitalize;
  font-size: 2em;
}

.dashboard header .logo {
  margin-left: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard header .logo h1 {
  margin-left: 1vw;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

.dashboard header .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2vw;
  text-decoration: none;
}

.dashboard header .settings .link {
  margin: 0 2vw;
  text-decoration: none;
}

.dashboard header .settings .link h4 {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #e8e8e8;
}

.dashboard main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dashboard main .routedisplay {
  width: 85vw;
  height: 90vh;
  background: #e8e8e8;
}

.dashboard main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 90vh;
  width: 15vw;
  background: #24242c;
  color: #e8e8e8;
}

.dashboard main nav .bottombuttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
}

.dashboard main nav .bottombuttons button {
  background: #3454D1;
  color: #e8e8e8;
  font-family: "Roboto", sans-serif;
  border: none;
  padding: .5em 1.5em;
  margin-right: 2vw;
}

.dashboard main nav ul {
  width: 100%;
  margin: 5vh 1vw;
}

.dashboard main nav ul li {
  font-family: "Roboto", sans-serif;
  color: #e8e8e8;
  text-decoration: none;
  width: 84%;
  margin: 2vh 0 2vh 1vw;
  padding: 1em 1em;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.dashboard main nav ul .selected {
  background: #34d1bf;
  color: #24242c;
  font-weight: bold;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/*# sourceMappingURL=style.css.map */