.butn-primary {
  background: #3454D1;
  color: #e8e8e8;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
}

.butn-primary :hover {
  background: #2d4abd;
  text-decoration: none;
}

.butn-negative {
  background: rgba(77, 77, 77, 0.315);
  color: #4d4d4d;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
}

.butn-negative :hover {
  background: rgba(77, 77, 77, 0.515);
  text-decoration: none;
}

.Loginpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background: url("https://images.unsplash.com/photo-1507898152394-7dd0e22fe102?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
}

.Loginpage .LogInForm {
  border-radius: 5px;
  -webkit-box-shadow: 6px 6px 6px -6px #4d4d4d;
          box-shadow: 6px 6px 6px -6px #4d4d4d;
  width: 35vw;
  height: 35vh;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4vw;
}

.Loginpage .LogInForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Loginpage .LogInForm form .link {
  background: #3454D1;
  color: #e8e8e8;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  border: none;
  padding: .5vh 1vw;
  margin-top: 1em;
  -webkit-box-shadow: 6px 6px 6px -6px #4d4d4d;
          box-shadow: 6px 6px 6px -6px #4d4d4d;
  border-radius: 10px;
  cursor: pointer;
}

.Loginpage .LogInForm form .link:hover {
  background: #2d4abd;
}

.RegisterPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("https://images.unsplash.com/photo-1517524285303-d6fc683dddf8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.RegisterPage .RegisterForm {
  border-radius: 5px;
  -webkit-box-shadow: 6px 6px 6px -6px #4d4d4d;
          box-shadow: 6px 6px 6px -6px #4d4d4d;
  width: 60vw;
  height: 95vh;
  background: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.RegisterPage .RegisterForm .logoUploaded img {
  max-width: 10vw;
  max-height: 10vh;
}

.RegisterPage .RegisterForm .iconDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.RegisterPage .RegisterForm h1 {
  color: #4d4d4d;
  font-family: "Roboto", sans-serif;
  font-size: 2.7em;
  margin: 5vh;
  font-weight: bolder;
}

.RegisterPage .RegisterForm form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RegisterPage .RegisterForm form .mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 5vh 0;
}

.RegisterPage .RegisterForm form .mid .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RegisterPage .RegisterForm form .mid .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RegisterPage .RegisterForm form .link {
  background: #3454D1;
  color: #e8e8e8;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  border: none;
  padding: .5vh 1vw;
  margin-top: 1em;
  -webkit-box-shadow: 6px 6px 6px -6px #4d4d4d;
          box-shadow: 6px 6px 6px -6px #4d4d4d;
  border-radius: 10px;
}

.RegisterPage .RegisterForm form .link:hover {
  background: #2d4abd;
}

.RegisterPage .RegisterForm form i {
  color: #3454D1;
}

.RegisterPage .RegisterForm form h2 {
  font-family: "Roboto", sans-serif;
  color: #4d4d4d;
  font-weight: 500;
  font-size: 1.8em;
}

.RegisterPage .RegisterForm form span {
  width: 45%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.RegisterPage .RegisterForm form span h4 {
  color: #4d4d4d;
  font-family: "Roboto", sans-serif;
}

.RegisterPage .RegisterForm form span input {
  height: 2vh;
  margin-left: 1em;
  border: none;
  background: #F9F9F9;
  border-bottom: #4d4d4d solid 1px;
  text-align: center;
}

.RegisterPage .RegisterForm form span input:focus {
  outline: 0;
  text-align: center;
}

.dashboard header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #24242c;
  height: 10vh;
  width: 100%;
  color: #e8e8e8;
}

.dashboard header .title h1 {
  text-transform: capitalize;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  color: #e8e8e8;
}

.dashboard header .logo {
  margin-left: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard header .logo img {
  height: 9vh;
}

.dashboard header .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2vw;
  text-decoration: none;
}

.dashboard header .settings img {
  max-height: 9vh;
}

.dashboard header .settings .companyname {
  width: 11vw;
}

.dashboard header .settings .companyname h4 {
  font-family: "Roboto", sans-serif;
  color: #e8e8e8;
  font-size: 1.2em;
}

.dashboard header .settings .link {
  margin: 0 2vw;
  text-decoration: none;
}

.dashboard header .settings .link h4 {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #e8e8e8;
}

.dashboard main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dashboard main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 90vh;
  width: 15vw;
  background: #24242c;
  color: #e8e8e8;
}

.dashboard main nav .bottombuttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
}

.dashboard main nav .bottombuttons .newbid {
  background: #ff4040;
  color: #e8e8e8;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  border: none;
  padding: .6vh 1.5vw;
  border-radius: 10px;
  margin-right: 4vw;
  cursor: pointer;
}

.dashboard main nav .bottombuttons button {
  background: #3454D1;
  color: #e8e8e8;
  font-family: "Roboto", sans-serif;
  border: none;
  padding: .6vh 1.5vw;
  border-radius: 10px;
  margin-right: 4vw;
  cursor: pointer;
  font-size: 1em;
}

.dashboard main nav ul {
  width: 100%;
  margin: 5vh 1vw;
}

.dashboard main nav ul li {
  font-family: "Roboto", sans-serif;
  color: #e8e8e8;
  text-decoration: none;
  width: 100%;
  margin: 2vh 0 2vh 1vw;
  padding: 1em 1em;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.dashboard main nav ul .selected {
  background: -webkit-gradient(linear, left top, right top, from(#72ffff), color-stop(#34d1bf), to(#34d1bf));
  background: linear-gradient(0.25turn, #72ffff, #34d1bf, #34d1bf);
  color: #24242c;
  font-weight: bold;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.routedisplay {
  width: 85vw;
  height: 90vh;
  background: #e8e8e8;
}

.routedisplay .new-bid-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  overflow: scroll;
  overflow-x: hidden;
  padding: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.routedisplay .new-bid-page h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  color: #4d4d4d;
  font-weight: 600;
}

.routedisplay .new-bid-page h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  color: #4d4d4d;
  font-weight: 500;
}

.routedisplay .new-bid-page .form {
  width: 100%;
}

.routedisplay .new-bid-page .form .form-content {
  margin-left: 2em;
}

.routedisplay .new-bid-page .form .message-input {
  margin-left: 4em;
  margin-top: 1em;
  width: 50%;
  height: 10vh;
}

.routedisplay .new-bid-page .display-inline {
  display: inline;
}

.routedisplay .new-bid-page .line {
  width: 80%;
  height: 1px;
  border-bottom: 1px solid rgba(77, 77, 77, 0.315);
  margin: 1em 0 .5em 0;
}

.routedisplay .new-bid-page .buttons-box {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.routedisplay .new-bid-page .buttons-box button {
  margin: .5em;
}

.routedisplay .new-bid-page .buttons-box .butn-primary {
  margin: .5em;
}

.routedisplay .new-bid-page .icon {
  margin: .5em;
}

.routedisplay .new-bid-page thead {
  background: #34d1bf;
  border-bottom: 1px solid #4d4d4d;
  color: #4d4d4d;
  font-weight: 800;
}

.routedisplay .new-bid-page tbody tr th {
  text-align: left;
  vertical-align: bottom;
  border-right: 1px solid rgba(77, 77, 77, 0.315);
}

.routedisplay .new-bid-page table {
  border: 2px solid #4d4d4d;
  margin: 1em 0;
}

.routedisplay .new-bid-page tbody tr:nth-child(even) {
  background: rgba(77, 77, 77, 0.315);
}

.routedisplay .new-bid-page tbody tr:nth-child(odd) {
  background: #fff;
}

.routedisplay .new-bid-page tr td
input {
  border: none;
  background-image: none;
  background-color: transparent;
  height: 5vh;
  width: 100%;
}

.routedisplay .new-bid-page .icon {
  margin: 0 .5em;
}

.routedisplay .new-bid-page #table1-add-row {
  border-top: 3px solid #34d1bf;
  background: #fff;
}

.routedisplay .new-bid-page .column1 {
  width: 5vw;
}

.routedisplay .new-bid-page .column2 {
  width: 15vw;
}

.routedisplay .new-bid-page .column3 {
  width: 20vw;
}

.routedisplay .new-bid-page .column4 {
  width: 5vw;
}

.routedisplay .new-bid-page .column5 {
  width: 5vw;
}

.routedisplay .new-bid-page .column6 {
  width: 5vw;
}

.routedisplay .new-bid-page .column7 {
  width: 5vw;
}

.routedisplay .new-bid-page .column8 {
  width: 7vw;
}

.routedisplay .new-bid-page .totals-container1 {
  width: 100%;
}

.routedisplay .new-bid-page .totals-container1 .highlight-text {
  font-weight: 800;
  font-size: 1.3em;
  margin: .3em 0;
}

.routedisplay .new-bid-page .totals-container1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.routedisplay .new-bid-page .totals-container1 div .totals-column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.routedisplay .new-bid-page .totals-container1 div .totals-column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: 10vw;
  margin-left: 1em;
}

.routedisplay .new-bid-page .totals-container1 div .totals-column2 .totals-underline {
  width: 100%;
  border-bottom-style: double;
  border-top: 1px double #4d4d4d;
  border-bottom: 1px double #4d4d4d;
}

.routedisplay .reportsTypePlaceholder {
  padding: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.routedisplay .reportsTypePlaceholder .reportsType {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.routedisplay .reportsTypePlaceholder .reportsType h2 {
  margin-left: 1vw;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

.routedisplay .reportsTypePlaceholder .reportsType select {
  margin-left: 1em;
  padding: .5em;
  font-size: 1em;
}

.mainDash {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  overflow-x: hidden;
}

.mainDash .top {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainDash .top .customername {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  color: #e8e8e8;
  margin: 5vh;
  font-size: 2em;
  width: 100%;
  height: 10vh;
  text-align: center;
  font-weight: bolder;
  background: #3453d1;
  -webkit-box-shadow: 6px 6px 6px -6px #4d4d4d;
          box-shadow: 6px 6px 6px -6px #4d4d4d;
  border-radius: 5px;
}

.mainDash .bottom {
  width: 85vw;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainDash .bottom .leftdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 42.5vw;
  height: 100%;
  margin-left: 5vw;
}

.mainDash .bottom .leftdiv .schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35vh;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 6px 6px 6px -6px #4d4d4d;
          box-shadow: 6px 6px 6px -6px #4d4d4d;
}

.mainDash .bottom .leftdiv .schedule .scheduleBox {
  height: 100%;
  width: 100%;
}

.mainDash .bottom .leftdiv .bidchart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35vh;
  width: 100%;
  -webkit-box-shadow: 6px 6px 6px -6px #4d4d4d;
          box-shadow: 6px 6px 6px -6px #4d4d4d;
}

.mainDash .bottom .leftdiv .bidchart .bidchartBox {
  height: 100%;
  width: 100%;
}

.mainDash .bottom .rightdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 42.5vw;
  height: 100%;
  margin: 0 5vw;
}

.mainDash .bottom .rightdiv .unacceptedBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  width: 100%;
}

.mainDash .bottom .rightdiv .unacceptedBox .bidsBox {
  height: 100%;
  width: 100%;
  background: white;
  -webkit-box-shadow: 6px 6px 6px -6px #4d4d4d;
          box-shadow: 6px 6px 6px -6px #4d4d4d;
}

.schedule {
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.homePage {
  background: url("https://images.unsplash.com/photo-1496902526517-c0f2cb8fdb6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.561);
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.561);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homePage .topbanner {
  width: 100%;
  height: 10vh;
  top: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.658);
}

.homePage .topbanner img {
  height: 9vh;
  margin: 0 2vw;
}

.homePage .topbanner .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homePage .topbanner .links .link {
  text-decoration: none;
  color: #F9F9F9;
  margin: 0 2vw;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-size: 1.2em;
}

.homePage .topbanner .links .link:hover {
  color: #a8ffff;
}

.homePage .navholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55vw;
  height: 60vh;
}

.homePage .navholder .topnav {
  width: 100%;
  background: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 6px 6px 6px -6px #4d4d4d;
          box-shadow: 6px 6px 6px -6px #4d4d4d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.homePage .navholder .topnav .icon {
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  margin: 1vh 0;
}

.homePage .navholder .topnav .icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.homePage .navholder .topnav h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  color: white;
  font-weight: 600;
}

.homePage .navholder .bottomnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.homePage .navholder .bottomnav .left {
  height: 100%;
  width: 50%;
  background: rgba(255, 255, 255, 0.726);
  -webkit-box-shadow: 6px 6px 6px -6px #4d4d4d;
          box-shadow: 6px 6px 6px -6px #4d4d4d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
}

.homePage .navholder .bottomnav .left h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: #4d4d4d;
  margin: 4vh 0;
  font-weight: 600;
}

.homePage .navholder .bottomnav .left .link {
  background: #ff4040;
  color: #e8e8e8;
  font-family: "Roboto", sans-serif;
  border: none;
  margin: 0vh 5vw;
  padding: .6vh 1.5vw;
  border-radius: 10px;
  margin-right: 4vw;
  cursor: pointer;
  font-size: 1em;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.homePage .navholder .bottomnav .left .link:hover {
  background: #bd2d2d;
}

.homePage .navholder .bottomnav .right {
  height: 100%;
  width: 50%;
}

.Employees {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F9F9F9;
  overflow: scroll;
  overflow-x: hidden;
}

.Employees button {
  background: #3454D1;
  color: #e8e8e8;
  font-family: "Roboto", sans-serif;
  border: none;
  padding: .6vh 1.5vw;
  border-radius: 10px;
  margin-right: 4vw;
  cursor: pointer;
  font-size: 1em;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.Employees button:hover {
  background: #2d4abd;
}

.Employees .top .addedlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Employees .top .addedlist .addedPerson {
  margin: 2vh 1vw 0 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.Employees .top .addedlist .addedPerson .trash {
  margin-top: 1vh;
  cursor: pointer;
}

.Employees .top .addedlist .addedPerson .trash:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Employees .top .addedlist .addedPerson h2 {
  font-family: "Roboto", sans-serif;
  color: #4d4d4d;
  font-size: 1.5em;
}

.Employees .bottom {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Employees .bottom .line {
  margin: 5vh 0;
  width: 80%;
  height: 1px;
  background: #4d4d4d;
}

.Employees .bottom .person {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3vh 0;
}

.Employees .bottom .person h2 {
  font-family: "Roboto", sans-serif;
  color: #4d4d4d;
  font-size: 2em;
  margin: 0 .5vw;
}

.Employees .bottom .names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Employees .bottom .names h1 {
  font-family: "Roboto", sans-serif;
  color: #4d4d4d;
  font-size: 2em;
  margin: 0 .5vw;
}

.Employees .bottom .inputboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.employeeList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 70vh;
}
/*# sourceMappingURL=style.css.map */