$snow: #F9F9F9;
$blue: #3454D1;
$green: #34d1bf;
$platinum: #e8e8e8;
$darkColor: rgb(77, 77, 77);
$red: #ff4040;
$font: 'Roboto', sans-serif;
$fontColorDark: rgb(77, 77, 77);
$fontColorLight: #e8e8e8;
$shadow:  6px 6px 6px -6px $darkColor;
$darkBackgroundColor: rgb(36, 36, 44);



.LogInForm{
    border: $darkColor solid 1px;
    border-radius: 5px;
    box-shadow: $shadow;
    width: 40vw;
    height: 40vh;
    background: $snow;
    display: flex;
    justify-content: center;
    align-items: center;

        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
                button{
                    background: $blue;
                    color: $platinum;
                    font-family: $font;
                    border: none;
                    padding: .5em 2em;
                    box-shadow: $shadow;
                }
                span{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h4{
                        color:rgb(77, 77, 77);
                        font-family: $font;
                    }
                    input{
                        height: 2vh;
                        margin-left: 1em;
                        border: none;
                        background: $snow;
                        border-bottom: rgb(77, 77, 77) solid 1px;
                        text-align: center;
                        
                    }
                    input:focus{
                        outline: 0;
                        text-align: center;
                    }
                }    
        }
}
.RegisterForm{
    border: $darkColor solid 1px;
    border-radius: 5px;
    box-shadow: $shadow;
    width: 60vw;
    height: 95vh;
    background: $snow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    select{
        margin-bottom: 3vh;
    }
    .logoUploaded{
        img{
        
            max-width: 10vw;
            max-height: 10vh;
         
        }
    }
    .iconDiv{
       
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
    }
    h1{
        color: $fontColorDark;
        font-family: $font;
        font-size: 2.2em;
        margin: 5vh;  
    }

        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
                button{
                    margin-top: 1em;                    
                    background: $blue;
                    color: $platinum;
                    font-family: $font;
                    border: none;
                    padding: .5em 2em;
                    box-shadow: $shadow;
                }
                i{
                    color: #3454D1;
                }
                h2{
                    font-family: $font;
                    color: $darkColor;
                    margin-right: 30vw;
                }
                span{
                    width: 45%;
                    height: 5vh;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h4{
                        color:rgb(77, 77, 77);
                        font-family: $font;
                    }

                    input{
                        height: 2vh;
                        margin-left: 1em;
                        border: none;
                        background: $snow;
                        border-bottom: rgb(77, 77, 77) solid 1px;
                        text-align: center;
                        
                    }
                    input:focus{
                        outline: 0;
                        text-align: center;
                    }
                }    
        }
}
.dashboard{

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(36, 36, 44);
        height: 10vh;
        width: 100%;
        color: $fontColorLight;
        .title{
            h1{
               text-transform: capitalize; 
               font-size: 2em;
               font-family: $font;
               color: $fontColorLight;
            }
        }
        .logo{
            margin-left: 2vw;
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                margin-left: 1vw;
                font-family: $font;
                font-size: 1.5em;
                
            }
        }
        .settings{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 2vw;
            text-decoration: none;
            
            .link{
                margin: 0 2vw; 
                text-decoration: none;
                h4{
                    text-decoration: none;
                    font-family: $font;
                    color: $fontColorLight;
                }
            }

        }
    }
    main{
        display: flex;
        justify-content: flex-start;
        .routedisplay{
            width: 85vw;
            height: 90vh;
            
            background: $platinum;
        }
        nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            height: 90vh;
            width: 15vw;
            background: $darkBackgroundColor;
            color: $fontColorLight;

            .bottombuttons{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 10vh;
                button{
                    background: $blue;
                    color: $platinum;
                    font-family: $font;
                    border: none;
                    padding: .5em 1.5em;
        
                    margin-right: 2vw;
                }

            }
            ul{
                width: 100%;
                margin: 5vh 1vw;
                li{
                    font-family: $font;
                    color: $fontColorLight;
                    text-decoration: none;
                    width: 100%;
                    margin: 2vh 0 2vh 1vw;
                    padding: 1em 1em ;
                    transition: all .5s ease-in-out;
                    cursor: pointer;
                    
                }

                .selected{
                    background: $green;
                    color: $darkBackgroundColor;
                    font-weight: bold;
                    transition: all .5s ease-in-out;
                }
            }
            
        }
        
    }

}
.mainDash{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .top{
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .customername{
            font-family: $font;
            color: $fontColorDark;
            margin: 10vh;
            font-size: 2em;
            font-weight: bolder;
        }

    }

    .bottom{
        width: 85vw;
        height: 75vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .leftdiv{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 42.5vw;
            height: 100%;
            margin-left: 5vw;
            .schedule{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                height: 37.5vh;
                width: 100%;
                .scheduleBox{
                    height: 100%;
                    width: 100%;
                    background: gray;
                }
            }
            .bidchart{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                height: 37.5vh;
                width: 100%;
                .bidchartBox{
                    height: 100%;
                    width: 100%;
                    background: gray;
                }
            }
        }
        .rightdiv{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 42.5vw;
            height: 100%;
            margin-left: 5vw;
            .unacceptedBox{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                height: 37.5vh;
                width: 100%;
                .bidsBox{
                    height: 100%;
                    width: 100%;
                    background: gray;
                }
        }
    }
}