
$snow: #F9F9F9;
$blue: #3454D1;
$darkBlue: rgb(45, 74, 189);
$green: #34d1bf;
$platinum: #e8e8e8;
$darkColor: rgb(77, 77, 77);
$lightGrey: rgba(77, 77, 77, 0.315);
$red: #ff4040;
$font: 'Roboto', sans-serif;
$otherFont: architects-daughter, sans-serif;
$fontColorDark: rgb(77, 77, 77);
$fontColorLight: #e8e8e8;
$shadow:  6px 6px 6px -6px $darkColor;
$darkBackgroundColor: rgb(36, 36, 44);

/// standard buttons
.butn-primary{
    background: $blue;
    color: $platinum;
    font-family: $font;
    font-size: 1em;
    border: none;
    // box-shadow: $shadow;
    text-decoration: none;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    :hover {
        background: $darkBlue;
        text-decoration: none;
    }
}

.butn-negative{
    background: $lightGrey;
    color: $fontColorDark;
    font-family: $font;
    font-size: 1em;
    border: none;
    // box-shadow: $shadow;
    text-decoration: none;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    :hover {
        background: rgba(77, 77, 77, 0.515);
        text-decoration: none;
    }
}


.Loginpage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url('https://images.unsplash.com/photo-1507898152394-7dd0e22fe102?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    .LogInForm{
        border-radius: 5px;
        box-shadow: $shadow;
        width: 35vw;
        height: 35vh;
        background: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4vw;
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                    .link{
                        background: $blue;
                        color: $platinum;
                        font-family: $font;
                        font-size: 1.5em;
                        border: none;
                        padding: .5em 2em;
                        margin-top: 1em;
                        box-shadow: $shadow;
                        border-radius: 10px;
                        cursor: pointer;
                    }   
            }
    }
}
.RegisterPage{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1517524285303-d6fc683dddf8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    .RegisterForm{

        border-radius: 5px;
        box-shadow: $shadow;
        width: 60vw;
        height: 95vh;
        background: $snow;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // select{
        //     margin-bottom: 3vh;
        // }
        .logoUploaded{
            img{
                max-width: 10vw;
                max-height: 10vh;
            }
        }
        .iconDiv{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
        }
        h1{
            color: $fontColorDark;
            font-family: $font;
            font-size: 2.7em;
            margin: 5vh;  
            font-weight: bolder;
        }
    
            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .mid{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;
                    margin: 5vh 0;
                    .left{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    .right{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }    
                
                
                .link{
                    background: $blue;
                    color: $platinum;
                    font-family: $font;
                    font-size: 1.5em;
                    border: none;
                    padding: .5em 2em;
                    margin-top: 1em;
                    box-shadow: $shadow;
                    border-radius: 10px;
                } 
                    i{
                        color: #3454D1;
                    }
                    h2{
                        font-family: $font;
                        color: $darkColor;
                        font-weight: 500;
                        font-size: 1.8em;
                    }
                    span{
                        width: 45%;
                        height: 5vh;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h4{
                            color:rgb(77, 77, 77);
                            font-family: $font;
                        }
    
                        input{
                            height: 2vh;
                            margin-left: 1em;
                            border: none;
                            background: $snow;
                            border-bottom: rgb(77, 77, 77) solid 1px;
                            text-align: center;
                            
                        }
                        input:focus{
                            outline: 0;
                            text-align: center;
                        }
                    }    
            }
    }
}

.dashboard{

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(36, 36, 44);
        height: 10vh;
        width: 100%;
        color: $fontColorLight;
        .title{
            h1{
               text-transform: capitalize; 
               font-size: 2em;
               font-family: $font;
               color: $fontColorLight;
            }
        }
        .logo{
            margin-left: 2vw;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 9vh;
            }
        }
        .settings{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 2vw;
            text-decoration: none;
            img{
                max-height: 9vh;
            }
            .companyname{
                width: 11vw;
                h4{
                    font-family: $font;
                    color: $fontColorLight;
                    font-size: 1.2em;
                }
            }
            
            
            .link{
                margin: 0 2vw; 
                text-decoration: none;
                h4{
                    text-decoration: none;
                    font-family: $font;
                    color: $fontColorLight;
                }
            }

        }
    }
    main{
        display: flex;
        justify-content: flex-start;
        
        
        nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            height: 90vh;
            width: 15vw;
            background: $darkBackgroundColor;
            color: $fontColorLight;

            .bottombuttons{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 10vh;
               
                .newbid{
                    background: $red;
                    color: $platinum;
                    font-family: $font;
                    font-size: 1em;
                    border: none;
                    padding: .6vh 1.5vw;
                    border-radius: 10px;
                    margin-right: 4vw;
                    cursor: pointer;
                }
                button{
                    background: $blue;
                    color: $platinum;
                    font-family: $font;
                    border: none;
                    padding: .6vh 1.5vw;
                    border-radius: 10px;
                    margin-right: 4vw;
                    cursor: pointer;
                    font-size: 1em;
                }

            }
            ul{
                width: 100%;
                margin: 5vh 1vw;
                li{
                    font-family: $font;
                    color: $fontColorLight;
                    text-decoration: none;
                    width: 100%;
                    margin: 2vh 0 2vh 1vw;
                    padding: 1em 1em ;
                    transition: all .5s ease-in-out;
                    cursor: pointer;
                    
                }

                .selected{
                    background: linear-gradient(0.25turn, #72ffff, $green, $green);
                    color: $darkBackgroundColor;
                    font-weight: bold;
                    transition: all .5s ease-in-out;
                    
                }
            }
            
        }
        
    }
}
.routedisplay{
    width: 85vw;
    height: 90vh;
    background: $platinum;
    .new-bid-page{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: scroll;
        overflow-x: hidden;
        padding-top: 2em;
        padding-left: 2em;
        h1{
            font-family: $font;
            font-size: 2em;
            color: $fontColorDark;
            font-weight: 600;   
        }
        h3{
            font-family: $font;
            font-size: 1.2em;
            color: $fontColorDark;
            font-weight: 500;   
        }
        .form{
            width: 100%;
            .form-content{
               margin-left: 2em; 
            }
            .message-input{
                margin-left: 4em;
                margin-top: 1em;
                width: 50%;
                height: 10vh;
            }
        }
        .display-inline {
            display: inline;
        }
        .line {
            width: 80%;
            height: 1px;
            border-bottom: 1px solid $lightGrey;
            margin: 1em 0 .5em 0;
        }
        .buttons-box {
            width: 80%;
            display: flex;
            justify-content: center;
            button {
                margin: .5em;
            }
            .butn-primary {
                margin: .5em;
            }
        }
        .icon{
            margin: .5em;
        }

    }
    .reportsTypePlaceholder{
        
        .reportsType {
            margin: 1em 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: baseline;
            align-content: stretch;
            h2 {
                margin-left: 1vw;
                font-family: $font;
                font-size: 1.5em;
            }
            select{
                margin-left: 1em;
                padding: .5em;
                font-size: 1em;
            }
        }
    }
}
.mainDash{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .top{
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .customername{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $font;
            color: $fontColorLight;
            margin: 5vh;
            font-size: 2em;
            width: 100%;
            height: 10vh;
            text-align: center;
            font-weight: bolder;
            background: rgb(52, 83, 209);
            box-shadow: $shadow;
            border-radius: 5px;
        }

    }

    .bottom{
        width: 85vw;
        height: 75vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .leftdiv{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 42.5vw;
            height: 100%;
            margin-left: 5vw;
            .schedule{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                height: 35vh;
                width: 100%;
                overflow: hidden;
                box-shadow: $shadow;
                .scheduleBox{
                    height: 100%;
                    width: 100%;
                }
            }
            .bidchart{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                height: 35vh;
                width: 100%;
                box-shadow: $shadow;
                .bidchartBox{
                    height: 100%;
                    width: 100%;
                   
                }
            }
        }
        .rightdiv{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 42.5vw;
            height: 100%;
            margin: 0 5vw;
            
            .unacceptedBox{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                height: 90%;
                width: 100%;
                
                .bidsBox{
                    height: 100%;
                    width: 100%;
                    background: rgb(255, 255, 255);
                    box-shadow: $shadow;
                }
            }
        }
    }
}
.schedule{
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden; 
}

// .reportsType {
//     display: flex;
// 	flex-direction: row;
// 	flex-wrap: nowrap;
// 	justify-content: flex-start;
// 	align-items: baseline;
// 	align-content: stretch;
//     h2 {
//         margin-left: 1vw;
//         font-family: $font;
//         font-size: 1.5em;
//     }
// }
.homePage{
    background: url('https://images.unsplash.com/photo-1496902526517-c0f2cb8fdb6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.561);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .topbanner{
        width: 100%;
        height: 10vh;
        top: 0;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(0, 0, 0, 0.658);
        img{
            height: 9vh;
            margin: 0 2vw;
        }
        .links{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .link{
                text-decoration: none;
                color: $snow;
                margin: 0 2vw;
            }
        }

    }
    .navholder{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 55vw;
        height: 60vh;
      
        
        .topnav{
            width: 100%;
            height: 10vh;
            background: $snow;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            box-shadow: $shadow;
            .icon{
                cursor: pointer;
                transition: all 300ms ease-in-out;
            }
            .icon:hover{
                transform: scale(1.1)
            }
            h1{
                font-family: $font;
                font-size: 2.5em;
                color: rgb(255, 255, 255);
                font-weight: 600;   
            } 
        }
        .bottomnav{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            .left{
                height: 100%;
                width:50%;
                background: rgb(219, 219, 219);
                box-shadow: $shadow;
                transition: all 300ms ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center
            }
            .right{
                height: 100%;
                width:50%;
               
            }
        }
    }
}
.Employees{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $snow;
    button{
        background: $blue;
        color: $platinum;
        font-family: $font;
        border: none;
        padding: .6vh 1.5vw;
        border-radius: 10px;
        margin-right: 4vw;
        cursor: pointer;
        font-size: 1em;
        transition: all .5s ease-in-out;
    }
    button:hover{
        background: rgb(45, 74, 189);
    }
    .top{
        .addedlist{
            display: flex;
            width: 80%;
            justify-content: center;
            align-items: center;
            .addedPerson{
                margin: 0 1vw;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: center;
                width: auto;
                .trash{
                    margin-top: 1vh;
                    cursor: pointer;
                }
                .trash:hover{
                    transform: scale(1.1)
                }
                h2{
                    font-family: $font;
                    color: $fontColorDark;
                    font-size: 1.5em;
                }
    
            }
        }
    }
    .bottom{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .line{
            margin: 5vh 0;
            width: 80%;
            height: 1px;
            background: $darkColor;
        }
        .employeeList{
            display: flex;
           
            flex-direction: column;
            align-items: center;
            width: 80%;
            height: 100%;
            .person{
                width:  30vw;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 3vh 0; 
                h2{
                    font-family: $font;
                    color: $fontColorDark;
                    font-size: 2em; 
                    margin: 0 .5vw;
                }

            }
            .names{
                display: flex;
                justify-content: center;
                align-items: center;
                h1{
                    font-family: $font;
                    color: $fontColorDark;
                    font-size: 2em; 
                    margin: 0 .5vw;
                }
            }
            .inputboxes{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }

        }
    }
    
    
}



    

